input[type=number] {
    width: 100px;
    padding: 1px;
}
input{
    text-align: center;
}

h2, h3 {
    text-align: center;
    border-style: double;
    border-width: 0px 0px 2px 0px;
    border-color: rgb(118,188,116)
}
body {
 
   
}




ul.dropdown-menu{
 color: white;
 background-color: rgb(118,188,116);  
}

.nav.navbar-nav{
    width: 100%;
    background-color: rgb(0,80,114); 
    
}
ul.nav.navbar-nav li a{
 
    background-color: rgb(0,80,114); 
    color: white;
}
.dropdown-menu li{
    margin: 0px;
    padding: 2px; 
    text-align: center;
    background-color: rgb(0,80,114); 
    color: white;
}

#RefList li{
 background-color: rgb(175,161,161); 

}
.image-rounded{
    padding:4px;
}

#ChartSection {

    background-image: url("steelPic.jpg"); 
    border-style: solid;
    border-width: 2px;
    padding: 5px;
}



#ButtonGroup {
    text-align: center;
}
/*
.bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #B2B2B2;
    height: 75px;
    margin: 20px;
    width:  250px;
}

.bubble::after {
    background-color: #F2F2F2;
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    content: "\00a0";
    display: block;
    height: 20px;
    left: -9px;
    position: relative;
    top: 15px;
    transform:rotate( 45deg );    
    width:  20px;
}
div.animation {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear 10;
    -moz-animation:spin 4s linear 10;
    animation:spin 4s linear 10;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/*
#ChartSection {
    line-height:30px;
    background-color:#eeeeee;
    text-align:center;
    height:400px;
    width: 800px;
    padding:5px;
    clear: left;
    border: 1px solid #c3c3c3;
}
#buttons {
    line-height:30px;
    background-color:#eeeeee;
    text-align:center;
    height:20px;
    width:450px;
    padding:5px;
    clear: left;
}
#inputs1 {
    width:300px;
    height: 300px;
    border: 1px solid #c3c3c3;
    float: left;

    
}
#inputs2 {
    width:300px;
    height: 300px;
    border: 1px solid #c3c3c3;
    left: 300px;
    float: left;
   
}
#InputList {
    width:300px;
    height: 300px;
    border: 1px solid #c3c3c3;
    clear: left;

}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}