input[type=number] {
    width: 100px;
    padding: 1px;
}
input{
    text-align: center;
}

h2, h3 {
    text-align: center;
    border-style: double;
    border-width: 0px 0px 2px 0px;
    border-color: rgb(118,188,116)
}
body {
 
   
}
.dropdown-menu{
 color: white;
 background-color: rgb(160,80,114); 
 
}
.dropdown-menu li a{
 color: white;
 background-color: rgb(160,80,114); 
 
}
.navbar-brand{

 background-color: rgb(39,163,209); 
 color: white;
}
.nav.navbar-nav li a{

 background-color: rgb(39,163,209); 
 color: white;
}

#ChartSection {

    background-image: url("http://jkgredde.github.io/steelPic.jpg"); 
    border-style: solid;
    border-width: 2px;
    padding: 5px;
}
#ButtonGroup {
    text-align: center;
}
/*
#ChartSection {
    line-height:30px;
    background-color:#eeeeee;
    text-align:center;
    height:400px;
    width: 800px;
    padding:5px;
    clear: left;
    border: 1px solid #c3c3c3;
}
#buttons {
    line-height:30px;
    background-color:#eeeeee;
    text-align:center;
    height:20px;
    width:450px;
    padding:5px;
    clear: left;
}
#inputs1 {
    width:300px;
    height: 300px;
    border: 1px solid #c3c3c3;
    float: left;

    
}
#inputs2 {
    width:300px;
    height: 300px;
    border: 1px solid #c3c3c3;
    left: 300px;
    float: left;
   
}
#InputList {
    width:300px;
    height: 300px;
    border: 1px solid #c3c3c3;
    clear: left;

}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
